<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>@ViewData["Title"] - My Custom Theme</title>
</head>
<body>
    <header>
        <h1>Welcome to My Custom Themeeee</h1>
    </header>

    <main>
        Hello đây alf sự khởi đầuu
        @* @RenderBody() *@
    </main>

    <footer>
        <p>&copy; 2025 My Custom Theme</p>
    </footer>

    <script src="~/js/main.js"></script>
</body>
</html>
